body{ 
  font-family:"微軟正黑體";
}
h1{ 
  font-size:11mm;
}
h2{
  font-size:10mm;
}
h3{
  font-size:9mm; 
}
h4{
  font-size:8mm; 
}
h5{
  font-size:7mm; 
}
h6{
  font-size:6mm; 
}
p{
  font-size:20px;
}
.table{
	font-size:18px;
}
.form-horizontal{
	margin-bottom:30px;	
}
.nav-tabs{
  font-size:20px;
}